{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<div class="banner">
    <div class="cover">
        <div class="container image">
            <h2 id="category">If you can't make it good, at least make it look good.</h2>
            <form class="form" role="search" action="{% url 'search' %}">

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category" name="image_category">
                  <br>
                 </div>

                 <small>Trending searches: fashion, travel</small>

              </form>
            <p>Taking an image, freezing a moment, reveals how rich reality truly is </p>
            <a href="#gallery" button type="button" class="btn btn-info">view gallery</a></button>
        </div>
    </div>
</div>
{%endblock%}