{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<div class="banner">
    <div class="cover">
        <div class="container image">
            <h2 id="category">take a picture, show your skills.</h2>
            <form class="form" role="search" action="{% url 'search' %}">

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by category" name="image_category">
                  <br>
                 </div>

                 <small>Trending searches: food, fashion</small>

              </form>
            <p>your photos, your passion, your world </p>
            <a href="#gallery" button type="button" class="btn btn-info">view gallery</a></button>
        </div>
    </div>
</div>
{%endblock%}