{%load static%}
{% load bootstrap5 %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>

{% block styles %}
          {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
      <img src="{% static 'images/set.png' %}" alt="" width="40" height="40">
      <span class="navbar-text">
        best photos ever
      </span>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link open-nav" style="cursor:pointer">LOCATION</a>

          </li>
        </ul>

        <ul class="navbar-nav left">
          <a class="nav-item nav-link ml-auto social" href="https://github.com/Maureen-1998DEV" target="_blank"><i class="fab fa-github"></i></a>
          <a class="nav-item nav-link ml-auto social" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a class="nav-item nav-link ml-auto social" href="https://twitter.com/Maureen Ougo" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="nav-item nav-link ml-auto social" href="https://www.facebook.com/Maureen Ougo" target="_blank"><i class="fab fa-facebook"></i></a>

      </ul>
        
      </div>
    </div>
  </nav>
  <div id="sideNav" class="nav-side">
    <a href="javascript:void(0)" class="close-nav">&times;</a>
    <a>Locations:</a>
    {% for location in locations %}
    <a href="{% url 'location' location.id}">{{location.name}}</a>
    {% empty %}
    <a href="#">There are no locations</a>
    {% endfor %}
    <hr>
    <div class="locations">
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12 social-buttons">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a
                            href="https://twitter.com/Maureen Ougo" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="tooltip-test" title="follow me"
                            href="https://www.facebook.com/Maureen Ougo" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="tooltip-test" title="follow me"
                            href="https://github.com/Maureen-1998DEV" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="tooltip-test" title="follow me"
                            href="#" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <p>Copyright &copy; 2018 All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
